.header-text {
    
    text-align: center;
    background-image: url("header.jpeg");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;   
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 4vw;
    width: 90vw;
    height: 30vh;  

    
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    
  }


  
  /* Links inside the navbar */
  /* .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
  } */
  .navDown 
  {
    width: 16.6%;
  }

  .navUpper
  {
    width: 33.3%;
  }
  /* The dropdown container */
  .navUpper, .navDown {
    

    font-size: 2vw;
    outline: none;
    color: white;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .navUpper:hover, .navDown:hover, .result div:hover{
    background-color: red;
   
  }

#page 
{
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  background-color: lightslategrey;
}



.result div
{
  margin-top: 20px;
  width: 130px;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  padding: 5;
  padding-top: 10px;
 
 
}
.result
{
  width: 75%;
  margin-left: auto;
  margin-right: auto;

}
 
.buttonBook > div
{
  padding-right: 2px;
  padding-bottom: 2px;

}

.buttonBook p
{
font-size: 10px;
}


