#page{
  background-color: rgb(103, 102, 102);
  
}

header 
{
	  text-align: center;
    background-image: url("header.jpeg");
    background-repeat:repeat-x;
    background-position:center;   
  	height: 300px;
}
.navbar 
{
    /* overflow: hidden; */
    background-color: #333;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navDown 
  {
    width: 14%;
  }

  .navUpper
  {
    width: 33.3%;
  }

  .navUpper, .navDown {
    font-size: 2vw;
    color: white;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    
   
  }

  .navbar a:hover, .navUpper:hover, .navDown:hover{
    background-color: red;  
  }

figure img
{
	/* width: 80%;
  height: 80%; */
  max-width: 80%;
  max-height: 80%;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

.container figure{

}

.container figure:hover 
{
  cursor: pointer;
  background-color:#333;
}

#results {
  display: flex;
  justify-content:center;
  background-color: rgb(103, 102, 102);
   
  }

  
  
#leftSideBar {
  background-color: #333;
  width: 300px;

  /* width: 10%;
  float: left;
  margin-bottom: -5000px;
  padding-bottom: 5000px; */
 }

 

  .container
  { 
    min-height: 1000px;
  }  


#righSideBar {
  background-color: #333;
  min-height: 100px;
  width: 300px;
  /* width: 10%;
  float: right;
  margin-bottom: -5000px;
  padding-bottom: 5000px; */
  
}

.row {
 
 }

.details
{
  height: 100%;
  margin-left: 10px;
  margin-right: auto;
  background-size: cover;
}

figure {
  width: 220px;
  height:310px;
 

}

figure figcaption
{
	text-align:center;
	color: #efefef;
  font-size:20px;
}


.details-content {
 width: 100%;
 overflow: hidden;
}

.description-details{
  font-size: large;
  float: left;
  width: 25%;
  margin-left: 28%;
   }


#detailsImage {
  width: 20%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
}

#detailsImage img{
  width: 10%;
  height:25vh;
  width: 11vw;
  float: left;
  margin: 0;
}

#description {
  margin-left: 25%;
  width: 50%;
  font-size: 20px;
  text-align:justify;
}

