#page
{
  font-family: 'Oswald', sans-serif;
  width: 1200px;
  min-height: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 50px;
  background-color: beige;
}

#logo
{
  color: black;
  margin-top: 20px;    
  letter-spacing: 3px;
    
}

#menu
{
  min-height: 30px;
  background-color: #303030; 
  border-radius:8px;
  margin-top: 100px;
  color: #ffff;
  padding:10px;
  letter-spacing: 4px;
  
  
}

.option
{
  float: left;
  margin-right: 20px;
  min-width: 50px;
  font-size: 18px;
  padding: 10px;
  border-right: 2px dotted #444444;
  opacity: 0.8;
  
}

.option:hover
{
    color: #d73c3c;
    cursor: pointer;
    transform: scale(1.3);
}

#search
{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#search input
{
  float: left;
  width:300px;
}
#topbarL
{
  float: left;
}

#topbarR
{
  float: left;
  margin-top: 75px;
  margin-left: 50px;
}

#shopping-cart
{
  margin-right: 50px;
  float: right;
}

#shopping-cart:hover
{
 cursor: pointer;
 transform: scale(1.3);
 
}



#sidebar .option
{
  clear: both;
}


#content
{
    margin-top: 60px;
    margin-bottom: 50px;
    float: left;    
    width: 1100px;
    min-height: 620px;

    text-align: center;
}

#content figure
{
border: 1px dotted gray;
width: 160px;
height: 300px;
padding: 15px;
margin: 10px;
position: relative;

}

figure img
{
  width: 95%;
  height: 75%;
  margin-bottom: 5px;

}

figure img:hover
{
  cursor: pointer;
  border: 3px solid red;
}


#footer
{
    clear: both;   
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 18px; 
}

#addToBasket
{
  background-color: rgb(231, 139, 41);
  border-radius:8px;
  width: 100px;
  margin-left: 15px;
  margin-right: auto;
  text-align: center;
  position: absolute;
  bottom: 5px;
}
#addToBasket:hover
{
  cursor: pointer;
  background-color: rgb(231, 98, 41);
  transform: scale(1.2);
  
}

#backetList
{
  width: 1000px;
  margin-left: 50px;
  font-size: 30px;
  text-align: left;
}

#title
{
  float: left;
}

#quantity
{
  float: left;
}

#prize
{
  float: right;
  margin-right: 0;
}

#description-details
{
  float: left;
}
#detailsImage 
{
float: left;
width: 300px;  
height: 400px;
}

#detailsImage img
{
  width: 80%;
  height: 80%;
  margin-top: 30px;
  
  
  
}


#description
{ 
  margin-top: 70px;
  margin-left: 50px;
  float: left;
  width: 700px;
  text-align: justify;
}

#addToBasketDetails
{
  background-color: rgb(231, 139, 41);
  border-radius:8px;
  width: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  bottom: 5px;
}
#addToBasketDetails:hover
{
  cursor: pointer;
  background-color: rgb(231, 98, 41);
  transform: scale(1.2);
  
}













































.reset-float-left {
  clear: both;
}